<ion-modal-view >
  <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Details</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list card">

        <div class="item">
          <h2>{{modalData.name}}</h2>
          <h2>{{modalData.address}}</h2>
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{modalData.img}}">
        </div>

      </div>
      <button class="button button-block button-positive" ng-click="hideModal()">Close</button>
    </ion-content>
</ion-modal-view>
