<ion-modal-view >
  <ion-header-bar class="bar-positive" >
    <h1 class="title">Information</h1>
  </ion-header-bar>
    <ion-content >
        <ion-list>
          <div ng-repeat="category in categories">
            <ion-item class="item cssSlideUp"
                      ng-hide="category.value"
                      ng-click="toggleCategory(category)"
                      ng-animate
                      ng-class="{active: isCategoryShown(category)}">
              {{category.name}}
            </ion-item>

            <ion-item class="item-accordion"
                      ng-show="isCategoryShown(category)">
                      Heller!
            </ion-item>
          </div>
          <div class="item item-divider">
            </div>
        <ion-list>
          <ion-checkbox ng-model="filter.red">Pregnant</ion-checkbox>
          <ion-checkbox ng-model="filter.yellow">Sex offender</ion-checkbox>
          <ion-checkbox ng-model="filter.pink">History of violence</ion-checkbox>
        </ion-list>

        <button class="button button-full button-positive">
          Save
        </button>

      </ion-list>

      <button class="button button-full button-assertive" ng-click="hideUser()">
        Close
      </button>

  </ion-content>
</ion-modal-view>
